Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
Werkzeug==0.15.3
opentelemetry-api
opentelemetry-sdk
opentelemetry-ext-flask
opentelemetry-ext-requests

# DEPRECATED: opentelemetry-ext-otcollector

opentelemetry-ext-otlp # span export to OTLP collector
opentelemetry-ext-opencensusexporter # span + metrics export to OTLP collector

opentelemetry-exporter-cloud-monitoring # metrics export to Cloud Monitoring
opentelemetry-exporter-cloud-trace # trace export to Cloud Trace
